.portfolio__home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 4rem 2rem;
  margin: 1rem 13rem;
  border-radius: 10px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
}

.portfolio__home-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.portfolio__home-image img {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
}

.portfolio__home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2rem;
}

.portfolio__home-content h1 {
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
}

.portfolio__home-content h4 {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 250;
  margin-bottom: 1rem;
}

.portfolio__home-content ul li {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  margin-left: 2rem;
}

.portfolio__home-content-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.portfolio__home-content-links a {
  padding: 0 1rem;
  cursor: pointer;
}
