.portfolio__footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.portfolio__footer-heading {
  margin: 2rem;
}

.portfolio__footer-heading p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 1rem;
}
